<div class="container-fluid">
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <h2 class="text-center pull-left" style="padding-left: 30px;">
            <span class="glyphicon glyphicon-list-alt"> </span> User Details </h2>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-12 col-md-4">
              <label> Search by Name </label>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control input-md" name="search">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-md btn-warning">
                      <span class=" glyphicon glyphicon-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body table-responsive">
      <table class="table table-hover">
        <thead>

          <tr>
            <th class="text-center"> Company ID </th>
            <th class="text-center"> Company Name </th>
            <th class="text-center"> company Address </th>

          </tr>

        </thead>

        <tbody>
          <ng-container *ngFor="let comp of company">
            <tr class="edit" id="detail">
              <td id="no" class="text-center"> {{comp.companyID}} </td>
              <td id="name" class="text-center"> {{comp.CompanyName}} </td>
              <td id="mobile" class="text-center"> {{comp.CompanyAddress}} </td>
            </tr>
          </ng-container>

        </tbody>
      </table>
    </div>

  </div>
</div>
<script>
  $(document).ready(function () {
    $(".form-control").popover({ title: "Search Here", placement: "top" });
  })
</script>