<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h2 class="page-header">
                Overview
            </h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <a [routerLink]="['/dashboard/home']"> Dashboard</a>
                </li>
                <li class="breadcrumb-item active">
                    <i class="fa fa-fw fa-eye"></i> Overview
                </li>
            </ol>
        </div>
    </div>
</div>
<footer class="al-footer clearfix" >
  <div class="al-footer-main clearfix" style="float: right; ">
    <i class="fa fa-copyrigh"></i><b style="color: #313131; font-size: 12px">99X Technology 2017 R&D</b>
  </div>
</footer>
