<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2>
        Create Invoice Form
      </h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-dashboard"></i>
          <a routerLink="/dashboard/home">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
          <i class="fa fa-plus"></i> Create Invoice
        </li>
      </ol>
    </div>
  </div>
  <!-- /.row -->


  <div class="row">
    <div class="col-lg-12">

      <form [formGroup]="invoiceForm"> 
        <label>
          <h3>Invoice Details</h3>
        </label>
        <br>

        <div class="row">            
          <div class="col-md-1 mb-3">
              <label>Invoice No</label>
          </div>  
          <div class="col-md-4 mb-3">
            <input type="text" class="form-control" id="">
          </div>
          <div class="col-md-1 mb-3">
          </div>
          <div class="col-md-1 mb-3">
              <label>Date</label>
          </div>
          <div class="col-md-4 mb-3">
            <input type="text" class="form-control" formControlName="InvoiceDate" placeholder="put date picker here instead input">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-1 mb-3">
            <label>Site Name</label>
        </div>
        <div class="col-md-4 mb-3">
          <input type="text" class="form-control"  formControlName="Site" placeholder="Site Name">
        </div>

        <div class="col-md-1 mb-3">
          <label>order ID</label> 
      </div> 
    <div class="col-md-4 mb-3">              
      <select class="form-control" ng-model="selected" required formControlName="orderid" #sel (change)="callType(sel.value)">
        <ng-container >
            <option *ngFor="let orderid of order" [value]="orderid.OrderID"> {{orderid.OrderID}} </option>   
        </ng-container>              
      </select>
    </div>


        </div>
<br>
               
        
        
        <!--add item part -->

        <div class="card" *ngIf="!isEditing">
          <h4 class="card-header">Add Invoice Items</h4>
          <div class="card-block">
           
              <div class="form-group">
                  <div class="row">
                      <div class="col-md-4 mb-3">
                          <input class="form-control" type="text" name="item" placeholder="Item" formControlName="item">
                      </div>
                      <div class="col-md-4 mb-3">
                          <input class="form-control" type="number" name="qty" placeholder="Qty" min="0" formControlName="qty">
                      </div>
                      <div class="col-md-4 mb-3">
                        <input class="form-control" type="number" name="Unit price" placeholder="Unit Price" min="0" formControlName="UnitPrice">
                    </div>
                    <div class="col-md-4 mb-3">
                      <input class="form-control" type="text" name="Amount" placeholder="Amount" min="0" formControlName="Amount">
                  </div>
                      
                  </div>               
              </div>                         
            
          </div>
        </div>
        <br>


        <div class="row">
            <div class="col-md-6 mb-3">                                             
            </div>
            <div class="col-md-2 mb-3"> 
                  <label>Total Amount</label>                                              
            </div>             
            <div class="col-md-4 mb-3">                                        
                  <input type="text" class="form-control" id="validationDefault01" readonly>
            </div>                    
          </div>
          <br>

          <div class="row">
              <div class="col-md-8 mb-3">                                             
              </div>            
              <div class="col-md-4 mb-3">                                        
                  <button class="btn btn-primary" type="submit" (click)="AddInvoice()">
                      <i class="fa fa-share-square">Sent to Accountant</i>
                    </button>
              </div>                    
            </div>
            <br>


       
      </form>