a.al-logo {
  color: #ffffff;
  display: block;
  font-size: 32px;
  float: right;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  outline: none !important;
  line-height: 60px;

  span {
    color: mediumvioletred;
  }
}
a.al-logo:hover {
  color: white;
}

.topAdmin{
  font-size: 12px;
  font-weight: 200;
}
