<div class="signup-page">
	<div class="row">
		<div class="col-lg-4 offset-lg-4">
        	<img src="assets/img/SB-admin.png" width="150px;" class="user-avatar" />
      <h1> <div class="al-logo clearfix">Procument <span>System</span></div></h1>

      <form role="form" [formGroup]="signupForm">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Full Name" formControlName="fullname">
					</div>

					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="User Name" formControlName="username">
					</div>

					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email" formControlName="email">
					</div>

					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" formControlName="password">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password" formControlName="password2">
					</div>
					<div class='error' *ngIf="signupForm.controls.password2.touched">
						<div class="alert-danger errormessageadduser" *ngIf="signupForm.hasError('matchingPasswords')">                                  Passwords do not match
					</div>
				</div>
				

				<button class="btn rounded-btn" type="submit" (click)="addUser()"><span><i class="fa fa-user-plus" aria-hidden="true"></i></span> Add User </button>&nbsp;

				<a  class="btn rounded-btn" routerLink="/"> Log in </a>
				</div>
			</form>
		</div>
	</div>
</div>

<footer class="al-footer clearfix" >
  <div class="al-footer-main clearfix" style="float: right; ">
    <i class="fa fa-copyrigh"></i><b style="color: #313131; font-size: 12px">SLIIT : CSSE Assignment 4</b>
  </div>
</footer>
