<div class="signup-page">
	<div class="row">
		<div class="col-lg-4 offset-lg-4">
        	<img src="assets/img/SB-admin.png" width="150px;" class="user-avatar" />
      <h1> <div class="al-logo clearfix">Traci<span>fied</span></div></h1>

      <form role="form">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Full Name">
					</div>

					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
					</div>

					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password">
					</div>
				</div>
				<a  class="btn rounded-btn" routerLink="/dashboard/home"> Register </a>&nbsp;
				<a  class="btn rounded-btn" routerLink="/"> Log in </a>
			</form>
		</div>
	</div>
</div>

<footer class="al-footer clearfix" >
  <div class="al-footer-main clearfix" style="float: right; ">
    <i class="fa fa-copyrigh"></i><b style="color: #313131; font-size: 12px">99X Tech 2017 R&D</b>
  </div>
</footer>
