<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h2>
        Add Supplier Form
      </h2>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12">

      <form>
        <label>
          <h3>Supplier Details</h3>
        </label>
        <br>

        <label>Supplier Name</label>

        <div class="row">
          <div class="col-md-6 mb-3">

            <input type="text" class="form-control" id="validationDefault01" placeholder="name" required>
          </div>
        </div>

        <br>

        <label>Contact Number</label>
        <div class="row">
          <div class="col-md-6 mb-3">

            <input type="text" class="form-control" id="validationDefault01" placeholder="Mobile" required>
          </div>
          <div class="col-md-6 mb-3">

            <input type="text" class="form-control" id="validationDefault02" placeholder="Land line" required>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-6">
            <label>Address</label>
            <textarea class="form-control" type="textarea" id="address" placeholder="address" required></textarea>
          </div>
        </div>  
        <br>

        <div class="row">      
          <div class="col-md-6 mb-3">  
              <label>Email</label>             
              <input type="email" class="form-control" id="email" placeholder="Email" required>         
          </div> 
        </div>
        <br>
        
        <div class="addBtn">
          <div class="row">
              <div class="col-md-12 mb-5">             
                  <button class="btn btn-primary" type="submit">
                      <i class="fa fa-plus">Add Supplier</i>
                    </button>                             
              </div>                                                 
          </div>
         </div>
        <br>

<!-- 
          <footer class="al-footer clearfix">
            <div class="al-footer-main clearfix" style="float: right; ">
              <i class="fa fa-copyrigh"></i>
              <b style="color: #313131; font-size: 12px">99X Tech 2017 R&D</b>
            </div>
          </footer> -->